
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle at top, #001f3f 0%, #00050a 100%);
    background-position: center;
    background-size: cover;
}
section{
    padding: 30px;
    width: 420px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
}
section h1{
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    margin-bottom: 20px;
}
.input-box{
    width: 100%;
    position: relative;
    margin-bottom: 25px;


}
.input-box input{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 30px;
    border-radius: 25px;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    outline: none;
    background: transparent;
    padding-right: 40px;
}
.input-box input::placeholder{
    color:#fff;
}
.input-box i.fa-lock{
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    color: #fff;
}
.input-box i.fa-users{
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    color: #fff;
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    font-size: 14px;
    color: #fff;
}
.remember-forgot a,.login-signup a{
    color: #fff;
    text-decoration: none;
    transition: color 0.5s ease;
    font-weight: bold;
}
.remember-forgot a:hover,.login-signup a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: #100202;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    transition: 0.5s;
    border: 2px solid transparent;
}
.btn:hover{
     background: radial-gradient(circle at top, #001f3f 0%, #00050a 100%);
    border: 2px solid rgba(255, 255, 255, 0.2);

}
.login-signup{
    text-align: center;
    margin-top: 25px;
    color: #fff;
    font-size: 14px;
}
